NOVA_ENDPOINT = 
NOVA_ACCESS_KEY = 
NOVA_SECRET_KEY = 
NOVA_REGION = "nova"
PROJECT_NAME = 
USERNAME = 
NOVA_MANAGE = "/usr/bin/nova-manage"
SQLALCHEMY_DATABASE_URI = 
PACKAGE_DOWNLOAD_URL_TMPL = "http://spotcloud.appspot.com/api/package/download?uuid=%s"
REPO_DIR = 
PUBLISH_SCRIPT = 
SPOTCLOUD_USER = 
SPOTCLOUD_PASSWD =
DEBUG = True
